@charset "UTF-8";
progress,
sub,
sup {
    vertical-align: baseline
}

button,
hr,
input {
    overflow: visible
}

[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0
}

a,
body {
    color: #333
}

.button,
.cursor-pointer {
    cursor: pointer
}

.pos-r,
sub,
sup {
    position: relative
}

@media only screen and (min-width:320px) {
    html {
        font-size: 50px
    }
    body {
        font-size: 12px
    }
}

@media only screen and (min-width:360px) {
    html {
        font-size: 48px
    }
    body {
        font-size: 11.52px
    }
}

@media only screen and (min-width:375px) {
    html {
        font-size: 50px
    }
    body {
        font-size: 12px
    }
}

@media only screen and (min-width:384px) {
    html {
        font-size: 51.2px
    }
    body {
        font-size: 12.29px
    }
}

@media only screen and (min-width:393px) {
    html {
        font-size: 52.4px
    }
    body {
        font-size: 12.58px
    }
}

@media only screen and (min-width:414px) {
    html {
        font-size: 55.2px
    }
    body {
        font-size: 13.25px
    }
}

@media only screen and (min-width:480px) {
    html {
        font-size: 64px
    }
    body {
        font-size: 15.36px
    }
}

@media only screen and (min-width:540) {
    html {
        font-size: 72
    }
    body {
        font-size: 17.28
    }
}

@media only screen and (min-width:640px) {
    html {
        font-size: 85.33px
    }
    body {
        font-size: 20.48px
    }
}

@media only screen and (min-width:720px) {
    html {
        font-size: 96px
    }
    body {
        font-size: 23.04px
    }
}


/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

h1 {
    margin: .67em 0
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none;
    vertical-align: top
}

svg:not(:root) {
    overflow: hidden
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

button,
input,
select,
textarea {
    font: inherit;
    margin: 0
}

optgroup {
    font-weight: 700
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

textarea {
    overflow: auto
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

li {
    list-style-type: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400
}

body {
    -webkit-tap-highlight-color: transparent;
    font: .24rem/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif
}

.fb,
.strong {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.fl {
    float: left
}

.fr {
    float: right
}

.nofloat {
    float: none
}

.ell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.uppercase {
    text-transform: uppercase
}

.border-radius {
    border: 0
}

.overflow-y {
    overflow-x: hidden;
    overflow-y: auto
}

.del-scroll,
.ovh {
    overflow: hidden
}

.button {
    background-color: #666;
    color: #fff;
    border-color: transparent
}

.hidden {
    display: none
}

.show {
    display: block
}

.fn-hide {
    display: none!important
}

.fn-show {
    display: block!important
}

.img-center {
    display: block;
    margin: 0 auto
}

.vis-hide {
    visibility: hidden
}

.no-selected {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none
}

.tac {
    text-align: center
}

.tal {
    text-align: left
}

.tar {
    text-align: right
}

.taj {
    text-align: justify
}

.del-scroll {
    height: 100%
}

.f20 {
    font-size: .2rem
}

.f22 {
    font-size: .22rem
}

.f24 {
    font-size: .24rem
}

.f26 {
    font-size: .26rem
}

.f28 {
    font-size: .28rem
}

.f30 {
    font-size: .3rem
}

.f32 {
    font-size: .32rem
}

.f34 {
    font-size: .34rem
}

.f36 {
    font-size: .36rem
}

.f38 {
    font-size: .38rem
}

.lh15 {
    line-height: 1.5
}

.lh18 {
    line-height: 1.8
}

.lh20 {
    line-height: 2
}

.lh22 {
    line-height: 2.2
}

.lh24 {
    line-height: 2.4
}

.lh28 {
    line-height: 2.8
}

.lh30 {
    line-height: 3
}

.tdl {
    text-decoration: underline!important
}

.tdt {
    text-decoration: line-through
}

.fc0 {
    color: #000
}

.fcw {
    color: #FFF
}

.fc3 {
    color: #333
}

.fc6 {
    color: #666
}

.fc8 {
    color: #888
}

.fc9 {
    color: #999
}

.fcc {
    color: #ccc
}

.primary-color {
    color: #f6ab1a
}

.secondary-color {
    color: red
}

.base-color {
    color: #1d50a2
}

.bgf0 {
    background: #f0f0f0!important
}

.bgf9 {
    background: #f9f9f9!important
}

.bgf8 {
    background: #F8FBFF!important
}

.bgf7 {
    background: #f7f7f7!important
}

.bgf5 {
    background: #f5f5f5!important
}

.bgf3 {
    background: #f3f3f3!important
}

.bgfc {
    background: #fcfcfc!important
}

.bgfw {
    background: #fff!important
}

.bgfb {
    background: #fbfbfb!important
}

.ml10 {
    margin-left: .1rem
}

.ml15 {
    margin-left: .15rem
}

.ml20 {
    margin-left: .2rem
}

.ml25 {
    margin-left: .25rem
}

.ml30 {
    margin-left: .3rem
}

.mr10 {
    margin-right: .1rem
}

.mr15 {
    margin-right: .15rem
}

.mr20 {
    margin-right: .2rem
}

.mr25 {
    margin-right: .25rem
}

.mr30 {
    margin-right: .3rem
}

.mt10 {
    margin-top: .1rem
}

.mt15 {
    margin-top: .15rem
}

.mt20 {
    margin-top: .2rem
}

.mt25 {
    margin-top: .25rem
}

.mt30 {
    margin-top: .3rem
}

.mb10 {
    margin-bottom: .1rem
}

.mb15 {
    margin-bottom: .15rem
}

.mb20 {
    margin-bottom: .2rem
}

.mb25 {
    margin-bottom: .25rem
}

.mb30 {
    margin-bottom: .3rem
}

.pl10 {
    padding-left: .1rem
}

.pl15 {
    padding-left: .15rem
}

.pl20 {
    padding-left: .2rem
}

.pl25 {
    padding-left: .25rem
}

.pl30 {
    padding-left: .3rem
}

.pr10 {
    padding-right: .1rem
}

.pr15 {
    padding-right: .15rem
}

.pr20 {
    padding-right: .2rem
}

.pr25 {
    padding-right: .25rem
}

.pr30 {
    padding-right: .3rem
}

.pt10 {
    padding-top: .1rem
}

.pt15 {
    padding-top: .15rem
}

.pt20 {
    padding-top: .2rem
}

.pt25 {
    padding-top: .25rem
}

.pt30 {
    padding-top: .3rem
}

.pb10 {
    padding-bottom: .1rem
}

.pb15 {
    padding-bottom: .15rem
}

.pb20 {
    padding-bottom: .2rem
}

.pb25 {
    padding-bottom: .25rem
}

.pb30 {
    padding-bottom: .3rem
}

.bor-bottom {
    border-bottom: 1px solid #ddd
}

.bor-top {
    border-top: 1px solid #ddd
}

.bor-left {
    border-left: 1px solid #ddd
}

.bor-right {
    border-right: 1px solid #ddd
}

.border {
    border: 1px solid #ddd
}

.no-border {
    border: none!important
}

.toast {
    position: fixed;
    padding: .3rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    background: rgba(0, 0, 0, .8);
    z-index: 10000;
    max-width: 70%;
    animation: flash 2s;
    font-size: .3rem
}

@-webkit-keyframes flash {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes flash {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.ball-spin-fade-loader>div {
    color: #1d50a2;
    background-color: #1d50a2;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute
}

@-webkit-keyframes ball-spin-fade-loader {
    50% {
        opacity: .3;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes ball-spin-fade-loader {
    50% {
        opacity: .3;
        -webkit-transform: scale(.4);
        transform: scale(.4)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.ball-spin-fade-loader {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: .12rem;
    min-height: .1rem
}

.ball-spin-fade-loader>div:nth-child(1) {
    -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
    animation: ball-spin-fade-loader 1s 0s infinite linear
}

.ball-spin-fade-loader>div:nth-child(2) {
    -webkit-animation: ball-spin-fade-loader 1s .12s infinite linear;
    animation: ball-spin-fade-loader 1s .12s infinite linear
}

.ball-spin-fade-loader>div:nth-child(3) {
    -webkit-animation: ball-spin-fade-loader 1s .24s infinite linear;
    animation: ball-spin-fade-loader 1s .24s infinite linear
}

.ball-spin-fade-loader>div:nth-child(4) {
    -webkit-animation: ball-spin-fade-loader 1s .36s infinite linear;
    animation: ball-spin-fade-loader 1s .36s infinite linear
}

.ball-spin-fade-loader>div:nth-child(5) {
    -webkit-animation: ball-spin-fade-loader 1s .48s infinite linear;
    animation: ball-spin-fade-loader 1s .48s infinite linear
}

.ball-spin-fade-loader>div:nth-child(6) {
    -webkit-animation: ball-spin-fade-loader 1s .6s infinite linear;
    animation: ball-spin-fade-loader 1s .6s infinite linear
}

.ball-spin-fade-loader>div:nth-child(7) {
    -webkit-animation: ball-spin-fade-loader 1s .72s infinite linear;
    animation: ball-spin-fade-loader 1s .72s infinite linear
}

.ball-spin-fade-loader>div:nth-child(8) {
    -webkit-animation: ball-spin-fade-loader 1s .84s infinite linear;
    animation: ball-spin-fade-loader 1s .84s infinite linear
}

.big-loading>div {
    width: .16rem;
    height: .16rem
}

.big-loading>div:nth-child(1) {
    top: 25px;
    left: 0
}

.big-loading>div:nth-child(2) {
    top: 17.05px;
    left: 17.05px
}

.big-loading>div:nth-child(3) {
    top: 0;
    left: 25px
}

.big-loading>div:nth-child(4) {
    top: -17.05px;
    left: 17.05px
}

.big-loading>div:nth-child(5) {
    top: -25px;
    left: 0
}

.big-loading>div:nth-child(6) {
    top: -17.05px;
    left: -17.05px
}

.big-loading>div:nth-child(7) {
    top: 0;
    left: -25px
}

.big-loading>div:nth-child(8) {
    top: 17.05px;
    left: -17.05px
}

.ball-clip-rotate-pulse {
    position: relative;
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    display: inline-block
}

.ball-clip-rotate-pulse>div:first-child {
    background: #1d50a2;
    height: 16px;
    width: 16px;
    top: 4px;
    left: -9px;
    -webkit-animation: scale 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
    animation: scale 1s 0s cubic-bezier(.09, .57, .49, .9) infinite
}

.ball-clip-rotate-pulse>div {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%
}

.ball-clip-rotate-pulse>div:last-child {
    position: absolute;
    width: 30px;
    height: 30px;
    left: -16px;
    top: -2px;
    background: 0 0;
    border: 2px solid;
    border-color: #1d50a2 transparent;
    -webkit-animation: rotate 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
    animation: rotate 1s 0s cubic-bezier(.09, .57, .49, .9) infinite;
    -webkit-animation-duration: 1s;
    animation-duration: 1s
}

@keyframes scale {
    0%,
    80% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    45% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: .7
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.line-spin-fade-loader {
    position: relative;
    top: -10px;
    left: -4px;
    display: inline-block
}

.line-spin-fade-loader>div:nth-child(1) {
    top: .15rem;
    left: 0;
    -webkit-animation: line-spin-fade-loader 1.2s -.84s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s -.84s infinite ease-in-out
}

.line-spin-fade-loader>div:nth-child(2) {
    top: .08636rem;
    left: .08636rem;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: line-spin-fade-loader 1.2s -.72s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s -.72s infinite ease-in-out
}

.line-spin-fade-loader>div:nth-child(3) {
    top: 0;
    left: .15rem;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation: line-spin-fade-loader 1.2s -.6s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s -.6s infinite ease-in-out
}

.line-spin-fade-loader>div:nth-child(4) {
    top: -.08636rem;
    left: .08636rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: line-spin-fade-loader 1.2s -.48s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s -.48s infinite ease-in-out
}

.line-spin-fade-loader>div:nth-child(5) {
    top: -.15rem;
    left: 0;
    -webkit-animation: line-spin-fade-loader 1.2s -.36s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s -.36s infinite ease-in-out
}

.line-spin-fade-loader>div:nth-child(6) {
    top: -.08636rem;
    left: -.08636rem;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: line-spin-fade-loader 1.2s -.24s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s -.24s infinite ease-in-out
}

.line-spin-fade-loader>div:nth-child(7) {
    top: 0;
    left: -.15rem;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation: line-spin-fade-loader 1.2s -.12s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s -.12s infinite ease-in-out
}

.line-spin-fade-loader>div:nth-child(8) {
    top: .08636rem;
    left: -.08636rem;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: line-spin-fade-loader 1.2s 0s infinite ease-in-out;
    animation: line-spin-fade-loader 1.2s 0s infinite ease-in-out
}

.line-spin-fade-loader>div {
    background-color: #1d50a2;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    width: .05rem;
    height: .15rem
}

@keyframes line-spin-fade-loader {
    50% {
        opacity: .3
    }
    100% {
        opacity: 1
    }
}